asyncio==3.4.3
discord.py==2.1.0
aiofiles==0.8.0
aiomysql==0.0.22
Pillow==10.0.1
psutil==5.8.0
filetype==1.0.8
aiohttp==3.8.5
ksoftapi==0.4.1
html5lib==1.1
beautifulsoup4==4.10.0
dislash.py==1.4.9
filetype==1.0.8

